*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
  display: flex;
}
.sidebar-container{
min-height: 100vh;
display: inline-flex;
flex-direction: column;
justify-content: space-between;
background-color: #f0f4f9;
padding: 25px 15px;
}
.sidebar-container img{
  width: 20px;
}
.sidebar-container .menu-icon{
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
.sidebar-container .newchat{
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}
.sidebar-container .recent{
  display: flex;
  flex-direction: column;
}
.sidebar-container .recenttitle{
  margin-top: 30px;
  margin-bottom: 20px;
}
.sidebar-container .recententry{
display: flex;
align-items: start;
gap: 10px;
padding: 10px;
padding-right: 40px;
border-radius: 50px;
color: #282828;
cursor: pointer;
}
.sidebar-container .recententry:hover{
  background-color: #e2e6eb;
}

.sidebar-container .bottom{
  display: flex;
  flex-direction: column;
}

.sidebar-container .bottomitem{
  padding-right: 10px;
  cursor: pointer;
}